/* -------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, li, ol, body, html {
    margin: 0;
    padding: 0;
}

html, body {
    color: #4d4d4d;
    font-family: 'Roboto', 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    /*
        Disable text-rendering in long pages as there can be performance issues
    */
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.span-1-of-4 {
    width: 25.6%;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
}

.hide {
    display: none;
}

/* -------------------------------------- */
/* REUSEABLE COMPONENTS */
/* -------------------------------------- */

.box {
    display: inline-block;
}

.message {
    padding: 20px;
    text-align: center;
}


/* ------- HEADINGS ------- */

h1, h2, h3 {
    font-weight: 300;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    margin-bottom: 25px;
    letter-spacing: 1px;
    font-weight: bold;
}

h3 {
    font-size: 80%;
    line-height: 25px;
    margin-bottom: 25px;
    color: #7f8c8d;
}

/* ------- PARAGRAPHS ------ */

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ------- ICONS --------- */

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    
    /* way to align text and icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* ------- LINKS ------- */

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* -------------------------------------- */
/* VIEWER */
/* -------------------------------------- */
.loader,
.main-loader {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 9999;
    background: url("../img/loader.gif") center no-repeat rgb(32,31,30);
    background-size: 100px;
    overflow: none;
    display: none;
    z-index: 9999;
}
#viewer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #000;
    background-image: url(../img/large/image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 1s;
    z-index: 9000;
}
.viewer-options {
    color: #ebebeb;
    float: right;
    padding: 20px;
    font-size: 30px;
}
.viewer-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    font-size: 150%;
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}
.expand-viewer:hover,
.shrink-viewer:hover {
    color: #fff;
}

/* -------------------------------------- */
/* INFORMATION BOX */
/* -------------------------------------- */

#information {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 2s;
}

.img-thumb {
    cursor: pointer;
}

header {
    padding: 40px 20px;
    text-align: right;
}

*:focus {
    outline: none;
}


/* -------------------------------------- */
/* FOOTER */
/* -------------------------------------- */

footer {
    padding: 40px 20px;
    font-size: 80%;
}
.social-links {
    list-style: none;
    float: right;
    margin-bottom: 20px;
}
.social-links li {
    display: inline-block;
    margin-right: 20px;
}
.social-links li:last-child {
    margin-right: 0;
}
.social-links li a:link, 
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transform: color 0.2s;
    transform: color 0.2s;
}
.social-links li a:link,
.social-links li a:visited {
    font-size: 100%;
}
.ion-social-facebook,
.ion-social-googleplus,
.ion-social-twitter,
.ion-social-github,
.ion-heart {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.ion-social-facebook:hover {
   color: #3b5998; 
}
.ion-social-googleplus:hover {
   color: #dd4b39; 
}
.ion-social-twitter:hover {
   color: #00aced; 
}
.ion-social-github:hover {
   color: #333; 
}
.ion-heart:hover {
    color: #e7565b;
}
footer p.last-text {
    color: #888;
    line-height: 200%;
    text-align: right;
}